<div class="span12">
<div class="span5">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @elements.each do |element| %>
    <tr>
      <td><%= element.name %></td>
      <td>
        <%= link_to("Change Content", edit_page_element_path(@page, element), :class => 'btn btn-mini')%>
      </td>
      <td><%= link_to("Delete", page_element_path(@page, element), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini')%></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
<%= link_to("Back", admin_pages_path, :class => 'btn btn-mini')%>