/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
#box {
	font-family : "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size : 12px;
	width : 480px;
	text-align : left;
	border-collapse : collapse;
	margin : 20px;
}

#box th { 
	font-size : 13px;
	font-weight : normal;
	background : #b9c9fe;
	border-top : 4px solid #aabcfe;
	border-bottom : 1px solid #fff;
	color : #039;
	padding : 8px;
}

#box td { 
	background : #e8edff;
	border-bottom : 1px solid #fff;
	color : #669;
	border-top : 1px solid transparent;
	padding : 8px;
}

#box tr:hover td {
	background : #d0dafd;
	color : #339;
}

a.button {
  font: bold 1em/1.5em sans-serif;
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  background: #b8c6df; /* old browsers */
  background: -moz-linear-gradient(top, #b8c6df 0%, #6d88b7 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8c6df), color-stop(100%,#6d88b7)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#6d88b7',GradientType=0 ); /* ie */
  zoom: 1;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -box-shadow: 0 1px 3px  rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
a.button:hover {
  background: #d8e6ff; /* old browsers */
  background: -moz-linear-gradient(top, #d8e6ff 0%, #8da8d7 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8e6ff), color-stop(100%,#8da8d7)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e6ff', endColorstr='#8da8d7',GradientType=0 ); /* ie */
}